* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
  background: #f9fafc;
  font-family: "Open Sans";
}
/*-------navbar styling (mobile)-------*/
.navbar {
  display: flex;
  flex-direction: column;
}

#logo {
  font-weight: bold;
  padding: 0 0 2px 0;
  margin: 5px;
  text-decoration: none;
  color: #000;
}

.navbar a {
  text-decoration: none;
  color: #69696a;
  padding: 5px;
}

.navbar a:visited {
  color: #69696a;
}

#hire-us {
  border: none;
  background: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
}

/*-----------article styling (mobile)------------*/
#header {
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}

#info {
  border-left: 3px solid;
  padding: 12px;
  border-color: #69696a;
  margin-bottom: 30px;
}

/*---------button styling (mobile)--------------*/
#scroll {
  border: none;
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

/*---------------Desktop Design-----------*/
@media only screen and (min-width: 768px) {
  /*------------navbar-------------*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #hire-us {
    width: auto;
  }

  /*---------article---------*/

  .article {
    width: 50%;
    margin-top: 150px;
  }

  /*--------button----------*/
  #scroll {
    width: auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
  }

  /*---------circles-----------*/

  #circle-1 {
    background: rgba(247, 136, 167, 0.6);
    height: 250px;
    width: 250px;
    border-radius: 100%;
    position: absolute;
    right: 120px;
    top: 175px;
    transform: translate(15px, 5px);
    z-index: 2;
  }

  #circle-2 {
    background: rgba(247, 193, 162, 0.7);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    position: absolute;
    right: 40px;
    top: 315px;
    transform: translate(10px, 10px);
    z-index: 3;
  }

  #circle-3 {
    background: rgba(207, 130, 213, 0.6);
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    right: 60px;
    top: 225px;
    transform: translate(50px, 10px);
    z-index: 1;
  }
}
